$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$navy:    #003763;
$blue:    #1b73d3;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #d5ad36;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;
$gold:    #cd9703;

$primary:       $navy; //Altered
$secondary:     $blue; //Altered
$success:       $green;
$info:          $gold; //Altered
$warning:       $yellow; //Altered
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;


html, body {
  background-color: $primary;
  color: $warning;
  margin: 15px;
  height: 100%;
  display: grid;

  #button {
    background-color: $info;
    color: $primary;
    border-color: $primary;
  }
}

body {

  a {
    color: $info;
  }

  h1, h2, h3 {
    color: $info;
  }

  .card, .votePledge, h1, h2, {
    text-align: center;
  }

  select {
    display: block;
    margin: 0 auto;
  }

  .thankYou {
    margin: auto;
    text-align: center;
  }

  .issues1, .issues2, .issues3 {
    border-left: ridge;
    border-right: ridge;
    border-color: $secondary;
    padding: 40px;
    border-radius: 75%;
    text-align: center;

  }

  output {
    color: #18D501;
  }
}

input[type=range] {
  height: 15px;
  -webkit-appearance: none;
  margin: 10px 10px;
  width: 100%;
  background-color: $primary;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #002200;
  background: #205928;
  border-radius: 1px;
  border: 1px solid #18D501;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #205928;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #002200;
  background: #205928;
  border-radius: 1px;
  border: 1px solid #18D501;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #205928;
  border: 1px solid #18D501;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #002200;
}
input[type=range]::-ms-fill-upper {
  background: #205928;
  border: 1px solid #18D501;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #002200;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #205928;
}
input[type=range]:focus::-ms-fill-upper {
  background: #205928;
}
